<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tela de cadastro Adm</title>

    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/signin.css">

  </head>
  <body class="text-center">
    <form th:object="${membro}" th:action="@{/cadastro}" method="post" class="form-signin">
  <h1 class="h3 mb-3 font-weight-bold">Cadastro</h1>
  <label for="nome" class="sr-only">Nome</label>
  <input type="text" id="nome" th:field="*{nome}" class="form-control" placeholder="Nome Completo" required autofocus>
  <label th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Name Error</label>
  <label for="usuario" class="sr-only">Usu&aacute;rio</label>
  <input type="text" id="usuario" th:field="*{usuario}" class="form-control" placeholder="Usuário" required autofocus>
  <label th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}">User Error</label>
  <label for="senha" class="sr-only">Senha</label>
  <input type="password" id="senha" name="senha" th:field="*{senha}" class="form-control" placeholder="Senha" onkeyup='check_pass();' required>
  <label th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}">Pass Error</label>
  <label for="confsenha" class="sr-only">Confirmar Senha</label>
  <input type="password" id="confsenha" class="form-control" placeholder="Confirmar Senha" onkeyup='check_pass();' required>
  <input type="text" id="tipo" name="tipo" th:value="ROLE_ADMIN" style="display:none;">
  <button class="btn btn-lg btn-primary btn-block" id="submit" name="submit" type="submit" disabled>Cadastrar</button>
  <a class="btn btn-lg btn-danger btn-block" href="/">Cancelar</a>
</form>
<script type="text/javascript">
function check_pass() {
    if (document.getElementById('senha').value ==
            document.getElementById('confsenha').value) {
        document.getElementById('submit').disabled = false;
    } else {
        document.getElementById('submit').disabled = true;
    }
}
</script>
</body>
</html>
