<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Tela de cadastro</title>

    <!-- Bootstrap core CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="signin.css">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form action="/cadastro" method="post" onsubmit="return checkForm(this);" class="form-signin">
  <h1 class="h3 mb-3 font-weight-bold">Cadastro</h1>
  <label for="nome" class="sr-only">Nome</label>
  <input type="text" id="nome" class="form-control" placeholder="Nome Completo" required autofocus>
  <label for="username" class="sr-only">Usu&aacute;rio</label>
  <input type="text" id="username" class="form-control" placeholder="Usuário" required autofocus>
  <label for="password" class="sr-only">Senha</label>
  <input type="password" id="password" class="form-control" placeholder="Senha" required>
  <label for="confpassword" class="sr-only">Confirmar Senha</label>
  <input type="password" id="confpassword" class="form-control" placeholder="Confirmar Senha" required>
<!--   <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Lembrar-me
    </label>
  </div> -->
  <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
</form>
</body>
</html>
