<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tela de Marcar</title>

    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/signin.css">

  </head>
  <body class="text-center">
  <div class="form-signin">
    <form th:action="@{/user}" method="post">
  <h1 class="h3 mb-3 font-weight-bold">Marca&ccedil;&otilde;es</h1>
  
  <table class="table table-sm table-striped table-bordered">
				<thead>
					<tr>
						<th style="display:none;">ID</th>
						<th>Data</th>
						<th>In&iacute;cio</th>
						<th>Fim</th>						
						<th>Total</th>
						<th colspan="2">Pausa</th>
					</tr>
				</thead>
				<tr th:each="ponto : ${pontos}">
					<td th:text="${ponto.id}" style="display:none;"></td>
					<td th:text="${ponto.dia}"></td>
					<td th:text="${ponto.inicio}"></td>
					<td th:text="${ponto.fim}"></td>					
					<td th:text="${ponto.total}"></td>
					<td th:text="${ponto.inicioP}"></td>
					<td th:text="${ponto.fimP}"></td>
				</tr>
			</table>
		
  <button class="btn btn-lg btn-primary btn-block" name="action" th:value='Marcar'>Marcar</button>
  <button class="btn btn-lg btn-info btn-block" name="action" th:value='Pausar' >Pausa</button>
  <input type="text" name="username" th:value="${username}" style="display:none;">
</form>
<form th:action="@{/logout}" method="post">
	<input type="submit" value="Sair" class="btn btn-lg btn-danger btn-block" />
</form>
</div>
</body>
</html>
