<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Tela de consulta</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
.custab{
    border: 1px solid #ccc;
    padding: 5px;

    }

</style>
</head>
<body>
	<div class="container text-center">
		<h1 class="h3 mb-3 font-weight-bold">Marca&ccedil;&otilde;es</h1>
			<table class="table table-striped custab">
				<thead>
					<tr>
						<th>ID</th>
						<th>Data</th>
						<th>In&iacute;cio</th>
						<th>Fim</th>
						<th>Total</th>
						<th class="text-center">Ajustar Hor&aacute;rio</th>
					</tr>
				</thead>
				<tr>
					<td>1</td>
					<td>17/12/2018</td>
					<td>19:01</td>
					<td>22:03</td>
					<td>03:02</td>
					<td class="text-center"><a class='btn btn-info btn-xs'
						href="#"><span class="glyphicon glyphicon-edit"></span> Editar</a></td>
				</tr>
				<tr>
					<td>2</td>
					<td>18/12/2018</td>
					<td>19:04</td>
					<td>22:00</td>
					<td>02:56</td>
					<td class="text-center"><a class='btn btn-info btn-xs'
						href="#"><span class="glyphicon glyphicon-edit"></span> Editar</a></td>
				</tr>
				<tr>
					<td>3</td>
					<td>19/12/2018</td>
					<td>19:00</td>
					<td>22:02</td>
					<td>03:02</td>
					<td class="text-center"><a class='btn btn-info btn-xs'
						href="#"><span class="glyphicon glyphicon-edit"></span> Editar</a></td>
				</tr>
			</table>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Marcar</button>
			<a class="btn btn-lg btn-danger btn-block" href="/">Sair</a>
	</div>
</body>
</html>