<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Tela de consulta</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
.custab{
    border: 1px solid #ccc;
    padding: 5px;

    }

</style>
<link rel="stylesheet" type="text/css" href="signin.css">
</head>
<body class="text-center">
	<div class="form-signin">
		<h1 class="h3 mb-3 font-weight-bold">Marca&ccedil;&otilde;es</h1>
			<table class="table table-striped custab">
				<thead>
					<tr>
						<th style="display:none;">ID</th>
						<th>Data</th>
						<th>In&iacute;cio</th>
						<th>Fim</th>
						<th>Total</th>
						<th class="text-center" style="display:none;">Ajustar Hor&aacute;rio</th>
					</tr>
				</thead>
				<tr th:each="ponto : ${pontos}">
					<td th:text="${ponto.id}" style="display:none;"></td>
					<td th:text="${ponto.dia}"></td>
					<td th:text="${ponto.inicio}"></td>
					<td th:text="${ponto.fim}"></td>
					<td th:text="${ponto.total}"></td>
					<td class="text-center"  style="display:none;"><a class='btn btn-info btn-xs'
						href="#"><span class="glyphicon glyphicon-edit"></span> Editar</a></td>
				</tr>
			</table>
			<form action="/marca" method="post">
				<input type="text" name="username" th:value="${username}" style="display:none;">
				<input type="text" name="password" th:value="${password}" style="display:none;">
				<button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-bottom: 15px;">Marcar</button>
			</form>			
			<a class="btn btn-lg btn-danger btn-block" href="/">Sair</a>
	</div>
</body>
</html>